<% layout('layout') %>

<div class="container">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">수정</div>
            <div class="panel-body">

                <form action="/edit/<%= task._id %>" method="post">
                    <div class="form-group">
                        <label for="password">제목</label>
                        <input class="form-control" type="text" name="title" value="<%= task.title %>" >
                    </div>
                    <div class="form-group">
                        <label for="password">내용</label>
                        <textarea class="form-control" name="description" cols="80"><%= task.description %></textarea>
                    </div>

                    <input type='hidden' class="form-control" name="priority" value="<%= task.priority  %>"/>

                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" name="deadline" value="<%= task.deadline %>"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">
                        수정
                    </button>
                </form>

            </div>
        </div>
    </div>

</div>