<% layout('layout') %>

<div class="container">

    <div row=""
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">추가</div>
            <div class="panel-body">

                <form action="/add" method="post">
                    <div class="form-group">
                        <label for="password">제목</label>
                        <input class="form-control" type="text" name="title" placeholder="제목" required>
                    </div>
                    <div class="form-group">
                        <label for="password">내용</label>
                        <textarea class="form-control" name="description" cols="80" placeholder="내용을 추가하세요." required></textarea>
                    </div>

                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" name="deadline"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">
                        추가
                    </button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">해야 하는 리스트</div>
            <div class="panel-body">

                <% for(var i=0; i < tasks.length; i++) { %>

                    <% if (tasks[i].done == true) continue %>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%= tasks[i].title %></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <%= tasks[i].description %>
                            </div>
                            <div class="form-group">
                                <% if (tasks[i].deadline == null){ %>
                                    <p>마감 시간이 없는 할일입니다.</p>
                                <% } else{ %>
                                    <%= moment(tasks[i].deadline).format('YYYY-MM-DD hh:mm:ss') %>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <a role="button" class="<%= tasks[i].done ? 'btn btn-success' : 'btn btn-primary'%>" href="/done/<%= tasks[i]._id %>">완료</a>
                                <a href="/delete/<%= tasks[i]._id %>" class="btn btn-warning">삭제</a>
                                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">수정</a>
                            </div>
                        </div>
                    </div>

                <% } %>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">완료된 리스트</div>
            <div class="panel-body">
                <% for(var i=0; i < tasks.length; i++) { %>

                    <% if (tasks[i].done == false) continue %>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%= tasks[i].title %></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <%= tasks[i].description %>
                            </div>
                            <div class="form-group">
                                <% if (tasks[i].deadline == null){ %>
                                    <p>마감 시간이 없는 할일입니다.</p>
                                <% } else{ %>
                                    <%= moment(tasks[i].deadline).format('YYYY-MM-DD hh:mm:ss') %>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <a href="/delete/<%= tasks[i]._id %>" class="btn btn-warning">삭제</a>
                                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">수정</a>
                            </div>
                        </div>
                    </div>

                <% } %>
            </div>
        </div>
    </div>

</div>
